################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunWithHomework/bin
/FunWithHomework/release
FunWithHomework/obj
/bin/Debug
/obj
